block append head 
    link(rel='stylesheet', href='./components/content/landing.sass')

mixin landing(props)
    .landing-background
    .landing
        .landing__title #{props.title}
        .landing__subtitle #{props.subtitle}