block append head 
    link(rel='stylesheet', href='./components/content/landing.sass')

mixin landing
    .landing-background
    .landing
        .landing__title Dezynfekator, którego nie przeoczysz!
        .landing__subtitle Zjedź na dół po więcej informacji