block append head 
    link(rel='stylesheet', href='./components/content/products-header.sass')

mixin products-header(props)
    .products-header#products-header
        .products-header__title #{props.title}
        .products-header__subtitle #{props.subtitle}
    