block append head 
    link(rel='stylesheet', href='./components/content/products-header.sass')

mixin products-header
    .products-header
        .products-header__title Nasze produkty są jakieś tam
        .products-header__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id. Condimentum mattis pellentesque id nibh tortor.
    