$color-text-primary: #000
$color-text-secondary: #818181
// $color-image-background: #e4e2e3
$color-image-background: #fff
$color-image-border: #eee
    
.products
    width: 100%
    position: relative
    padding: 100px 300px
    color: $color-text-primary

.products__product
    width: 100%
    position: relative
    display: flex
    margin: 100px 0 300px 0 

.products__product--reversed
    flex-direction: row-reverse

.products__product__descriptions
    width: 50%
    padding: 50px
    position: relative

.products__product__descriptions__description:first-child
    margin-bottom: 75px

.products__product__descriptions__description--reversed
    text-align: right

.products__product__descriptions__description__header
    font-size: 20px

.products__product__descriptions__description__content
    margin: 10px 0
    font-size: 15px
    line-height: 1.4
    
    color: $color-text-secondary

.products__product__image
    position: relative
    width: 50%
    margin: 25px 0
    border-radius: 6px
    padding: 20px 0

    background-color: $color-image-background
    border: 20px solid $color-image-border
    // background: url("/images/disinfecator_whole_front.png")
    // background-size: contain
    // background-repeat: no-repeat
    // background-position: center

    img
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        right: 0
        height: 500px
        width: 100%
        object-fit: contain

        filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.05)) drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1))