include /components/header/header.pug
include /components/content/landing.pug
include /components/content/products-header.pug
include /components/content/products.pug
include /components/footer/footer.pug
include /components/content/products-header.pug
include /components/head/head.pug

block variables

doctype html
html
  head
    block head
      +head(headProps)
  body
    block header
      +header(headerProps)
    block content
      +landing(contentProps)
      .products
        +products-header(productsHeaderProps)
        +products(productsOneProps)
        +products(productsTwoProps)
    block footer
      +footer(footerProps)
    script(src='/scripts/main.js')