block append head 
    link(rel='stylesheet', href='./components/header/header.sass')

mixin header(props)
    .header#header
        .header__item.header__item--logo #{props.title}
        .header__items
            .header__item
                a(href="#products-header") #{props.product}
            .header__item
                a(href="#footer") #{props.contact}