block append head 
    link(rel='stylesheet', href='./components/header/header.sass')

mixin header
    .header
        .header__item.header__item--logo Publiczny system dezynfekcji rąk
        .header__items
            .header__item
                a(href="#") Produkt
            .header__item
                a(href="#") Kontakt